<form action='/login' method='post'>
	<div class="login">
		<div class="container">
			<br><br/><br>

			<div class="row">

				<div class="col-lg-8 col-md-8 banner"style="background:url(/images/bg2.png);padding-bottom:353px;margin-left:-22px;" >
					<div class="banners">
						<div class="login-info">
							<h2> A step towards </h2>
							<h1>Fitter <span style="color:#676767;">& </span>Happier Workplace</h1>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 log-form">
					<div class="login-form">
						<div class="logo">
							<img src="images/WIN-.png" class="img-responsive" style="margin-left:0px;">
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<div class="icon-addon addon-lg">
										<a href="#"><image src="images/user.png" style="margin-left:-350px;margin-top:15px;border-right: 1px solid #ddd;
											padding-right: 8px;"></a> <input type="text" placeholder="Username" class="form-control" id="email" name='username'>

										</div>
									</div></div></div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<div class="icon-addon addon-lg">
													<a href="#"><image src="/images/lock.png" style="margin-left:-350px;margin-top:15px;border-right: 1px solid #ddd;
														padding-right: 8px;"></a> 
														<input type="password" placeholder="Password" class="form-control" id="email" name='password'>

													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<div class="icon-addon addon-lg">
														<label>
															<div class="btn-group" data-toggle="buttons">

																<label class="btn btn-success active" style="    padding-bottom: 20px;">
																	<input type="checkbox" autocomplete="off" checked>
																	<span class="glyphicon glyphicon-ok" style="margin-top: -12px;
																	margin-left: -9px;
																	color: #fff;"></span>
																</label>




															</div> Remember login
														</label>

													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="forgot">

													<p><a href="#" style="float:right;color:#60cdee;font-weight:bold;">Forgot Password?</a></p>

												</div>
											</div>
										</div>
										<div class="submit" >
											<button type="submit" class="btn btn-success " style="border-radius:18px;padding:12px 12px;width:100%;background:#11b4e5;border:1px solid #11b4e5;">LOGIN</button>
											<p style="text-align:center;margin-top:3px;"><span style="color:#676767;">Not Registered? </span><a href="/signup" style="color:#60cdee;">Create an account</a></p>
										</div>
									</div>


								</div>
							</div>
						</div>

					</div>
				</div>
			</form>